<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:3000/spider/css/templateMember.css">
    <title>Error</title>
    <link rel="icon" href="http://127.0.0.1:3000/spider/img/spiderman.icon.png" type="image/x-icon">
</head>

<style>
    body {
        background-image: url("http://127.0.0.1:3000/spider/img/spiderSix6.jpg");
    }
</style>

<body>
    <div class="logoutB">
        <a href="/logout">返 回 首 頁</a>
    </div>

    <label name="Wrong" id="verify">Are you serious? {{message}}</label>


</body>

</html>